.pageHeadings,
.logoType {
  transition: transform 200ms ease-in-out 800ms, opacity 200ms ease-in 800ms;
  align-self: center;
}

/* Title activation */
.titleActive .pageHeadings,
.titleActive .logoType {
  transform: translateY(-2.5rem);
}
.titleActive .pageHeadings {
  opacity: 0;
}

.titleActive .siteHeader h1.logoType {
  opacity: 1;
}

/* Header collapse and expansion */
.pageHeadingGroup,
.menuToggle {
  transition: margin-top 200ms ease-in-out 800ms, margin-bottom 200ms ease-in-out 800ms;
}

.headerCollapsed .pageHeadingGroup,
.headerCollapsed .menuToggle {
  margin: 0.25rem 1rem;
}

.pageHeadingGroup {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: repeat(2, 2.5rem);
  margin: 1.5rem 1rem;

  height: 2.5rem;
  overflow: hidden;
}

.siteHeader h1 {
  font-size: 1rem;
  color: #F5F5F5;
  grid-row: 2 / 2;
  line-height: 1;
  padding: 0;
}

.pageHeadingGroup h2 {
  font-size: 0.5rem;
  line-height: 1;
  grid-row: 1 / 1;
  padding: 0.125rem 0 0 0;
  color: #EAE9EF;
  text-transform: uppercase;
}

.siteHeader h1.title {
  font-size: 0.75em;
  grid-row: 2 / 2;
  max-height: 1.5rem;
  overflow: hidden;
}

.siteHeader h1.logoType {
  word-spacing: 100vw;
  font-size: 1.25em;
  grid-row: 2 / 2;
}

.siteHeader {
  background-color: #2F2F2F;
  display: grid;
  grid-auto-rows: auto auto;
  grid-template-columns: auto min-content;
}

/* Menu collapsed */
.page {
  transform: translateY(-31rem);
  transition: transform 400ms ease-in-out;
}

/* Menu activation */
.menuActive {
  transform: translateY(0);
}

.siteNav {
  grid-row: 1 / 2;
  grid-column: 1 / 3;
  height: 28rem;
  padding: 1.5rem;
  background: #171717;
}

.menuToggle {
  color: white;
  text-transform: uppercase;
  grid-row: 2 / 2;
  grid-column: 2 / 2;
  font-size: 0.5rem;
  margin: 1.5rem;
  line-height: 1;
  margin: 1.5rem 1rem;
  display: inline;
  justify-self: center;
  height: 2.5rem;
  padding: 0;
  width: 2.5rem;
}

.body {
  margin: 1em;
}

@media screen and (min-width: 768px) {
  .headerCollapsed .pageHeadingGroup,
  .headerCollapsed .menuToggle {
    margin: 0.25rem 1.5rem;
  }
  .pageHeadingGroup {
    grid-template-columns: min-content auto;
    grid-template-rows: min-content;
    margin: 0.25rem 1.5rem;
  }
  .pageHeadings {
    justify-self: center;
    display: grid;
    grid-template-columns: min-content auto;
  }
  .siteHeader h1.logoType {
    grid-column: 1 / 1;
    grid-row: 1 / 1;
    padding: 0 3rem 0 0;
  }

  .pageHeadingGroup h2 {
    grid-column: 1 / 1;
    grid-row: 1 / 1;
    font-size: 0.75em;
    padding: 0 0.25em 0 0;
    align-self: end;
  }

  .pageHeadingGroup h2::after {
    content: "//";
    padding: 0 0.25em;
  }

  .siteHeader h1.title {
    grid-column: 2 / 2;
    grid-row: 1 / 1;
    display: inline-block;
    font-size: 1em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .menuToggle {
    display: none;
  }

  .page {
    transform: translateY(0);
  }

  .siteNav {
    grid-row: 1 / 1;
    grid-column: 2 / 2;
    height: auto;
    padding: 0 1em;
    justify-self: end;
  }
}