.photoListItem {
  text-align: center;
}

.photo {
  min-width: 100%;
  min-height: 100%;
}

.photoFrame {
  display: block;
  overflow: hidden;
  height: 50vw;
  position: relative;
  margin: 0.0625em;
  padding: 0;
}

.title {
  font-size: 0.75em;
  font-style: normal;
  font-weight: 300;
  line-height: 2;
  word-break: keep-all;
  text-transform: uppercase;
  letter-spacing: -0.08em;
}
