.photoListItem {
  text-align: center;
  padding: 0;
}

.photoFrame {
  display: block;
  overflow: hidden;
  height: calc(50vw - 1.5em);
  max-height: 38.5em;
  position: relative;
  margin: 0.0625em;
  padding: 0;
  border: 0.25em solid white;
}

.photo {
  min-width: 100%;
  min-height: 100%;
}

.title {
  font-size: 0.75em;
  font-style: normal;
  font-weight: 300;
  line-height: 2;
  word-break: keep-all;
  text-transform: uppercase;
  letter-spacing: -0.08em;
  margin: 0.5em 0;
}
