
.fullPhoto {
  background-color: rgba(0,0,0,0.25);
  width: 100vw;
  margin: 0 -1em;
}

.ratio3x2 {
  height: 62.5vw;
}

.ratio2x3 {
  height: 177.78vw;
}

.ratio4x3 {
  height: 75vw;
}

.ratio3x4 {
  height: 133.33vw;
}

.data {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.photoDate {
  grid-column: 1 / 3;
}