.data {
  list-style-type: none;
  padding: 0;
  margin: 1em 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 5em repeat(2, 1fr);

  font-size: 0.5em;
}

.description {
  margin-top: 0;
  font-size: 0.8125em;
}

.imageWrapper {
  max-width: 100%;
}

.h1 {
  padding: 0.5em 0 0 0;
  font-size: 1.25em;
}

.data li:not(.photoDate) {
  padding: 0.5em 0.5em;
  font-size: 1.5em;
}

.infoIcon {
  width: 1.5em;
  padding-right: 0.5em;
  vertical-align: middle;
}