.logoType,
.siteHeader h1 {
  font-size: 1rem;
  color: #F5F5F5;
  line-height: 1;
  padding: 0;
  transform-origin: 0 0;
  transition: all 400ms ease-in-out;
}

.logoTypeSubtitle,
.pageHeadingGroup h2 {
  font-size: 0.5rem;
  line-height: 1;
  padding: 0.125rem 0 0 0;
  color: #EAE9EF;
  text-transform: uppercase;
}

.title {
  font-size: 1rem;
  grid-row: 2 / 2;
}

.logoType {
  composes: h1 from '../../layouts/headings-common.css';
  word-spacing: 100vw;
  font-size: 1.25em;
  grid-row: 2 / 2;
}

.logoTypeSubtitle {
  composes: h2 from '../../layouts/headings-common.css';
  display: none;
  grid-row: 1 / 1;
  grid-column: 1 / 1;
}

.menuToggle {
  color: white;
  text-transform: uppercase;
  grid-row: 2 / 2;
  grid-column: 2 / 2;
  font-size: 0.5rem;
  margin: 1.5rem;
  line-height: 1;
  margin: 1.5rem 1rem;
  display: inline;
  justify-self: center;
  height: 2.5rem;
  padding: 0;
  width: 2.5rem;
}
