.headerBack {
  background-color: #2F2F2F;
  display: fixed;
  top: 0;
  left: 0;
  right: 0;

  padding: 1.125rem 2rem;
}

.logos,
.pageHeadings {
  grid-row: 1 / 1;
  grid-column: 1 / 1;
  margin: 0;
}

.logoType {
  composes: h1 from '../../layouts/headings-common.css';
  color: white;
  display: block;
  line-height: 1;
  padding: 0;
  transform-origin: 0 0;
}

.logoType {
  font-size: 1.5em;
  line-height: 0.85;
  word-spacing: 100vw;
}