.footer {
  padding: 1em;
  background-color: #2F2F2F;
  color: #bcbcbc;
}

.footer a {
  color: #53B0FF;
}

.footerTitle {
  composes: h1 from '../../layouts/headings-common.css';
  color: white;
  font-size: 2em;
  text-transform: uppercase;
  padding: 0.66em 0;
}

.footerContactBlurb {
  margin: 0;
  padding: 0 0 1em 0;
  border-bottom: 1px solid #525252;
}